body{
    background-color: black;
}

h1{
    
    color: goldenrod;
    text-transform: uppercase;
    font-size: 3rem;
}
img{
    border: 5px solid white;
    width: 100%;
}
div{
   margin-top: 50px; 
   margin-left: 25%;
   width: 50%;
   text-align: center;
   font-family: 'Libre Baskerville', serif;
}
p{
    color: white;
}